@import "fonts.scss";
@import "reset.scss";
@import "variables/global.scss";
@import "themes/dark.scss";
@import "themes/light.scss";

body {
  font: var(--font-m);
}

.app {
  background-color: var(--bg-color);
  color: var(--primary-color);

  min-height: 100vh;
  
  display: flex;
  
  &__content {
    flex-grow: 1;
  }
}